{% extends 'base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
        <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
<h1>Selecione o Classe</h1><hr /><br />
    <form method="POST" action="/class/edit/">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="classe_id" class="form-control" required title="Selecione a classe.">
                <option disabled selected > -- Classe -- </option>
                {% for sala_aula in classes %}
                    <option value={{sala_aula.id}}>{{sala_aula.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-info float-right" title="Editar classe.">Editar</button>
        </div>
    </div>
    </form>
{% endblock %}