{% extends 'base.html' %}


{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Novo Colaborador</h1>
    <hr />
        <form method="post">
        {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="inputName">Nome Completo </label>
                    <input type="text" class="form-control" id="inputEmail4" name="nome" maxlength="200" required autofocus title="Digite o nome completo.">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Data de Nasc.</label>
                    <input type="date" class="form-control" id="inputPassword4" name="data_nasc" title="Selecione a data de nascimento." required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Telefone</label>
                    <input type="text" class="form-control" name="tel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );" title="Digite o telefone.">                
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCel">Celular</label>
                    <input type="text" class="form-control" name="cel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );" title="Digite o celular.">                
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">E-mail</label>
                    <input type="email" class="form-control" id="inputAddress2" maxlength="200" name="mail" title="Digite o e-mail.">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputName">Função<strong>*</strong></label>
                    <select name="cargo" class="form-control" required>
                        <option disabled selected> -- Função -- </option>
                        <option value="1">Diretor(a)</option>
                        <option value="2">Professor(a)</option>
                        <option value="3">Recepcionista</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-info float-right" title="Salvar novo registro de colaborador.">Salvar</button>
                </div>
            </div>
        </form>
{% endblock %}