{% extends 'base.html' %}


{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Novo Aluno</h1>
    <hr />
        <form method="post">
        {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="inputName">Nome Completo </label>
                    <input type="text" class="form-control" id="inputEmail4" name="nome" maxlength="200" required autofocus title="Digite o nome completo">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Data de Nasc.</label>
                    <input type="date" class="form-control" id="inputPassword4" name="data_nasc" title="Selecione a data de nascimento" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Telefone</label>
                    <input type="text" class="form-control" name="tel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );">                
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCel">Celular</label>
                    <input type="text" class="form-control" name="cel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );">                
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">E-mail</label>
                    <input type="email" class="form-control" id="inputAddress2" maxlength="200" name="mail" title="Digite o e-mail">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputName">Estado </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="estado" id="exampleRadios1" value="1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                        Ativo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="estado" id="exampleRadios2" value="2">
                        <label class="form-check-label" for="exampleRadios2">
                        Inativo
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-info float-right" title="Salvar novo registro de cliente">Salvar</button>
                </div>
            </div>
        </form>
{% endblock %}