{% extends 'base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
        <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
<h1>Selecione o Grupo</h1><hr /><br />
    <form method="POST" action="/group/edit">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="grupo_id" class="form-control" required title="Selecione o grupo.">
                <option disabled selected > -- Grupos -- </option>
                {% for grupo_aula in grupos %}
                    <option value={{grupo_aula.id}}>{{grupo_aula.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-info float-right" title="Editar grupo.">Editar</button>
        </div>
    </div>
    </form>
{% endblock %}